footer{
    position: relative;
    width: 100%;
    height: 380px;
    background-image: url(../img/footer-bg.jpg);
    background-size: cover;
    overflow: hidden;

    .container{
        display: flex;
        justify-content: space-between;
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        padding: 0px;

        .footer-links{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 10px;

            height: 100%;
            padding: 25px 0;

            .link-list{
                display: flex;
                flex-direction: column;
                gap: 10px;

                ul{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 5px;
                    list-style-type: none;
                    font-size: 12px;

                    li{
                        color: #aaaaaa;
                    }
                }
            }

        }

        img{
            position: absolute;
            top: -20%;
            right: 200px;
        }

    }

}


.social{
    width: 100%;
    background-color: #303030;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 0;

        .sign-up{
            button{
                background-color: transparent;
                color: white;
                padding: 15px 10px;
                border: 1px solid #0282F9;
            }
        }

        .follow{
            display: flex;
            align-items: center;
            gap: 15px;

            h5{
                color: #0282F9;
            }
        }
    }
}